@import '../../../css/variables.css';

.acadia-accessgroup-expanded-detail_wrapper{
    overflow-y: auto;
    max-height: 420px;
    height: auto;
}

.acadia-accessgroup-expanded-detail_container{
    width: 100%;
    text-align: left;
    padding-left: var(--gutter);
    padding-bottom: calc(var(--gutter)/2)
}
.acadia-accessgroup-expanded-detail_organization{
    width: 100%;
    cursor: pointer;
    display: -webkit-inline-box;
}
.acadia-accessgroup-expanded-detail_organization i{
    padding-right:5px;
    color: var(--primary-color);
}
.acadia-accessgroup-expanded-detail_allentitiesflag{
    padding-left: var(--gutter);
}
.acadia-accessgroup-expanded-detail_entities-container{
    padding-left: var(--gutter);
}
.acadia-accessgroup-expanded-detail_entities-item{
    padding-left: 0.5rem;
}
.acadia-accessgroup-expanded-detail_entities-item i{
    padding-right:5px;
}
.acadia-accessgroup-expanded-detail_organization span{
    color: var(--light-grey)
}
.acadia-accessgroup-expanded-toggle_all{
    cursor: pointer;
    text-align: left;
}

.acadia-flex-box__row .aam_row_height .acadia-accessgroup-expanded-detail_container{
    padding-left: 0;
}
.acadia-flex-box__row .aam_row_height .acadia-accessgroup-expanded-detail_container i, 
.acadia-flex-box__row .aam_row_height .acadia-accessgroup-expanded-detail_container .acadia-accessgroup-expanded-toggle_all{
    display: none;
}

.acadia-flex-box__row .aam_row_height .acadia-accessgroup-expanded-detail_container {
    color: var(--coal-color);
    padding-left: 0.850rem
}

.acadia-flex-box__row .aam_row_height .acadia-accessgroup-expanded-detail_entities-item{
    padding-left:0;
}

.acadia-accessgroup-expanded-detail_organization-remove{
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 3px;
}

.acadia-slider_detail_section_wrapper .acadia-accessgroup-expanded-toggle_all{
    display: none;
}