@import '../../../css/variables.css';

.role_modal{
    max-width: 846px;
    min-width: 600px;
    height: 622px;
    width: 70%;
}

/*@media (min-width: 1000px) {
  .role_modal{
    left:17%;
    }
}
@media (min-width: 1200px) {
  .role_modal{
    left:25%;
    }
}*/


.role_modal .mdl-autocomplete, .role_modal .mdl-textfield{
    width: 100%
}

.role_modal_right_section{
    height: 70%;
}

.acadia-role-new-form .acadia-flex-box__row {
    margin-bottom: 25px;
}


